* {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
  border-bottom: 1px solid #ddd;
  height: 100vh;
}

.header-top {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button,
.header-right select {
  margin-left: 10px;
  padding: 5px 10px;
}

.login {
  font-weight: bold;
  font-size: 1.6rem;
  border: 0px;
  color: white;
  background-color: black;
}

.list-business {
  font-weight: bold;
  font-size: 1.6rem;
  border: 0px;
  color: white;
  background-color: black;
}

.search-section {
  text-align: center;
  padding: 50px 20px;
  color: #fff;
}

.search-section h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.search-section input {
  padding: 2.2rem 10rem;
  width: 50rem;
  border-radius: 5px;
  border: 1px solid black;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.services-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.services-nav a {
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}

.recommended {
  padding: 2rem;
}

.recommended h2 {
  display: flex;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
}

#service-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  gap: 2rem;
  padding: 3rem;
}

.single-card {
  width: 15rem;
  height: 20rem;
  perspective: 1000px;
  margin: 10px;
}

.service-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.service-card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  background-color: #d8dbde;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  gap: 1rem;
}

.card-back p {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.2rem;
}

.details-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 3rem;
}

.trainer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.like-btn {
  margin-top: 1rem;
}

.service-card .details {
  padding: 10px;
}

.service-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.service-card p {
  margin: 0;
  color: #555;
}

/* Effects */
/* .single-card:hover {
} */

.card-front.highlight {
  border: 2px solid green;
}
